/* body {
    font-family: Arial, sans-serif;
    background-color: #e9eaf7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  
  .container {
    width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto;
  }
  
  h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .links-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .content-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .content-links li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .content-links li textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .content-links li::before {
    content: "🔗";
    margin-right: 10px;
    color: #6a6a6a;
  }
  
  .add-link-btn {
    position: flex;
    top: 0;
    right: 0;
    background-color: #7366ff;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .add-link-btn:hover {
    background-color: #5c54cc;
  }
  
  .upload-section {
    border: 2px dashed #d0d0d0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    color: #6a6a6a;
    font-size: 14px;
    margin-top: 30px;
  }
  
  .upload-section:hover {
    border-color: #7366ff;
    background-color: #f7f5ff;
  }
  
  .upload-section input {
    display: none;
  }
  
  .upload-section label {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #7366ff;
    margin-top: 10px;
  }
  
  .upload-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .upload-buttons button {
    background-color: #7366ff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .upload-buttons button:hover {
    background-color: #5c54cc;
  }
  
  .upload-buttons .cancel-btn {
    background-color: #ddd;
    color: #333;
    margin-right: 10px;
  }
  
  .upload-buttons .cancel-btn:hover {
    background-color: #bbb;
  }
  