body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 10px 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, select, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: inline-block; /* Ensure buttons are inline */
    width: auto; /* Adjust width for inline layout */
    padding: 10px 20px; /* Increase padding for better look */
    margin: 10px 5px; /* Add some spacing between buttons */
    background-color: #686de0;
  }
  
  button:hover {
    background: #fa7e1e;
  }
  
  .step button {
    float: none; /* Remove any conflicting alignment styles */
    display: inline-block; /* Ensure buttons are inline within the step container */
    text-align: center; 
  }
  
  
  .step {
    display: none;
  }
  
  .step.active {
    display: block;
  }
  