  /* About Us Section Styles */
  .aboutus {
    padding: 80px 0;
  }

  .aboutus>.wrapper {
    display: flex;
  }

  .aboutus-content {}

  .aboutus-content>.heading {
    text-align: left;
  }

  .aboutus-content>.heading::after {
    content: "";
    display: block;
    margin-bottom: 2rem;
  }

  .aboutus .description {
    font-size: 1.4rem;
    line-height: 36px;
    font-weight: 400;
    color: #6E7787FF;
    margin-right: 3rem;
  }

  .aboutus-image {
    max-width: 700px;
  }

  /* -------------------- */




  /* Our Values section styles */
  .our-values {
    padding: 80px 0;
    background-color: #ebebeb;
  }

  .our-values>.wrapper>.heading::after {
    content: "";
    display: block;
    margin-bottom: 50px;
  }

  .values-container {
    display: flex;
    justify-content: space-between;
  }

  .value-card {
    max-width: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .value-card img {
    width: 100%;
  }

  .value-card>.description {
    text-align: center;
    margin: 0 20px;
  }

  .value-card>.description::after {
    content: "";
    display: block;
    height: 1rem;
  }

  /* ------------------------- */






  /* Our mission Section Styles */

  .our-mission {
    padding: 80px 0;
    background-color: #f3f3f3;
    background-image: url('../../assets/images/about/Group\ 60.png');
    /* background-size: 120%; */
    background-position: right center;
  }

  .our-mission>.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .our-mission p {
    font-family: Inter;
    /* Body */
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: #323842FF;
  }





  /* -------------------- */
