/* Footer Styles */
.footer {
    background-color: #F5F5F5;
    padding: 50px 0;
  }
  
  .footer-upper-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .footer-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer-section ul li a {
    color: #555;
    text-decoration: none;
    line-height: 2em;
  }
  
  .footer-lower-container {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #ccc;
  }
  .language-selection select {
    border: none;
    background-color: transparent;
    color: #555;
  }
  .copyright {
    color: #555;
  }
  .social-media-links img {
    height: 20px;
    margin-left: 10px;
  }
  /* ---------------------------- */