  header {
    background-color: #fff;
    box-shadow: 0 0px 5px -2px rgb(195, 195, 195);
    /* color: var(--purple-color); */
    color: #333;
    padding: 15px 0;
  }
  header>.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .header-logo img {
    height: 30px;
    margin-right: 20px;
  }
  
  .nav_list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .nav_list_item a {
    font-size: 1rem;
    /* color: var(--purple-color); */
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
    color: #333;
    font-weight: 600;
  }
  /* ------------------ */