*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../../assets/images/login-bg.png');
    background-size: 130%;
    background-position: center;
    background-color: #878CEDFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }

  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1d1d1d;
    gap: 10px;
  }
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  .register-container {
    background-color: white;
    margin: 10vh auto;
    padding: 40px 40px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 45vw;
  }
  .register-container>h1 {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  .form-group-tick{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input, .form-group select {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    border: 1px solid #ebebeb;
    border-radius: 18px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
  }
  input::placeholder {
    font-size: 1rem;
    color: #b3b3b3;
  }
  option::placeholder {
    font-size: 1rem;
    color: #b3b3b3;
  }
  
  .btn {
    background-color: #6772e5;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Drop shadow */
  }
  
  .btn:hover {
    background-color: #5469d4;
  }
  
  a {
    color: #6772e5;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  p {
    text-align: center; /* Center-align text */
    margin-top: 20px;
}