.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header .breadcrumb {
    font-size: 14px;
    color: #333;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-info img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.header .user-info span {
    font-size: 14px;
}

.main-content {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    color: #666;
}

.main-content h2,
.main-content p,
.main-content th,
.main-content td {
    color: #666;
    font-size: 12px;
    /* Smaller font size for more elegant look */
}

.main-content h2 {
    margin-top: 0;
    font-size: 24px;
    /* Slightly smaller font size for header */
    margin-bottom: 30px;
}

.main-content .complain-details {
    margin-bottom: 30px;
}

.main-content .complain-details div {
    margin-bottom: 20px;
}

.main-content .complain-details div span {
    font-weight: bold;
}

.main-content .attachments {
    margin-bottom: 20px;
}

.main-content .attachments h3 {
    font-size: 16px;
    /* Slightly smaller font size for subheader */
    margin-bottom: 10px;
}

.main-content .attachments img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.main-content .response {
    margin-bottom: 20px;
}

.main-content .response h3 {
    font-size: 16px;
    /* Slightly smaller font size for subheader */
    margin-bottom: 10px;
}

.main-content .response textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    resize: none;
}

.main-content .actions {
    display: flex;
    justify-content: flex-end;
}

.main-content .actions button {
    padding: 8px 16px;
    background-color: #6a11cb;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

.toggle-sidebar {
    cursor: pointer;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 40px;
}